@inherits BUICore

<BUIDrawerHeader>
	Account Portal
</BUIDrawerHeader>

<BUIDrawerPaper>
	<p>This is a sample for how you can manage side content loaded in a drawer.</p>
</BUIDrawerPaper>

<MudButton Class="mt-2" Variant="Variant.Filled" EndIcon="@Icons.Material.TwoTone.Logout" OnClick="SignOut">Sign-Out</MudButton>

@code {
	private async Task SignOut()
	{
		TResult result = await Auth.LogOut();
		Snackbar.Add(result.Message, result.IsOkay ? Severity.Success : Severity.Error);
		SetAppStateWithTrigger(AppStateDataTags.TitleBarRightDrawerOpen, false);
		NavManager.NavigateTo("/home");
	}
}
