:root {
	--htag-font-size: 1.5rem;
	--nav-transition-in: 300ms;
	--nav-transition-out: 300ms;
	--main-padding-size: 10px;
}

html, body, #app, .router {
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	font-family: var(--mud-typography-body1-family);
	font-weight: var(--mud-typography-body1-weight);
	font-size: var(--mud-typography-body1-size);
	line-height: var(--mud-typography-body1-lineheight);
	letter-spacing: var(--mud-typography-body1-letterspacing);
	tab-size: 4;
}

	#app > .page-loader {
		display: flex;
		position: fixed;
		align-items: center;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

		#app > .page-loader > div {
			display: flex;
			margin: auto;
		}

			#app > .page-loader > div > div,
			#app > .page-loader > div > span {
				display: inline-block;
				margin: auto 5px;
			}

.buiTitleBar h1 {
	font-size: inherit;
}
.buiTitleBar .logo svg,
.buiTitleBar .logo img {
	height: 34px;
	vertical-align: middle;
}

.mud-main-content {
	position: relative;
	height: 100%;
	max-width: 100%;
}

	.mud-main-content > .mud-progress-linear:first-child {
		position: absolute;
		top: calc(var(--mud-appbar-height) - var(--mud-appbar-height)/4);
		left: 0;
		width: 100%;
		z-index: 3;
		height: 3px;
	}

	.mud-main-content > main {
		position: sticky;
		height: calc(100% - (var(--mud-appbar-height) - var(--mud-appbar-height)/4));
		top: 0;
		bottom: 0;
		max-height: calc(100% - (var(--mud-appbar-height) - var(--mud-appbar-height)/4));
		max-width: 100%;
		overflow: hidden;
		z-index: 0;
		margin: 0;
		padding: 0;
		width: 100%;
	}
		.mud-main-content > main > .page-transitional {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			padding: var(--main-padding-size);
			margin: 0;
			border: none;
		}
		.mud-main-content > main > .page-transitional > .mud-alert {
			margin-left: calc(-1 * var(--main-padding-size));
			margin-right: calc(-1 * var(--main-padding-size));
		}

		.mud-main-content > main.inview {
			z-index: 1;
		}

.mud-dialog {
	max-height: 100%;
	overflow: auto;
}

	.mud-dialog .mud-dialog-title {
		background-color: var(--mud-palette-appbar-background);
		color: var(--mud-palette-appbar-text);
	}

	.mud-dialog .mud-dialog-actions {
		background-color: var(--mud-palette-background-grey);
		color: var(--mud-palette-text-primary);
	}

ul.mud-breadcrumbs {
	padding: 3px 0 0;
	position: relative;
	z-index: 2;
	background-color: var(--mud-palette-background-grey);
	color: var(--mud-palette-text-primary);
	font-size: 0.75rem;
}

.mud-breadcrumbs + main > .page-transitional {
	padding-top: 0;
}

.mud-navmenu.mud-navmenu-primary .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled),
.mud-navmenu.mud-navmenu-primary .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled) {
	background-color: rgba(var(--mud-palette-primary-rgb),.12);
}

.mud-navmenu.mud-navmenu-secondary .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled),
.mud-navmenu.mud-navmenu-secondary .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled) {
	background-color: rgba(var(--mud-palette-secondary-rgb),.12);
}

.mud-navmenu.mud-navmenu-tertiary .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled),
.mud-navmenu.mud-navmenu-tertiary .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled) {
	background-color: rgba(var(--mud-palette-tertiary-rgb),.12);
}

.mud-navmenu.mud-navmenu-info .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled),
.mud-navmenu.mud-navmenu-info .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled) {
	background-color: rgba(var(--mud-palette-info-rgb),.12);
}

.mud-navmenu.mud-navmenu-success .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled),
.mud-navmenu.mud-navmenu-success .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled) {
	background-color: rgba(var(--mud-palette-success-rgb),.12);
}

.mud-navmenu.mud-navmenu-warning .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled),
.mud-navmenu.mud-navmenu-warning .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled) {
	background-color: rgba(var(--mud-palette-warning-rgb),.12);
}

.mud-navmenu.mud-navmenu-error .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled),
.mud-navmenu.mud-navmenu-error .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled) {
	background-color: rgba(var(--mud-palette-error-rgb),.12);
}

.mud-navmenu.mud-navmenu-dark .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled),
.mud-navmenu.mud-navmenu-dark .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled) {
	background-color: rgba(var(--mud-palette-dark-rgb),.12);
}

.mud-navmenu.mud-navmenu-primary .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled) {
	color: var(--mud-palette-primary);
	background-color: var(--mud-palette-primary-hover);
}

.mud-navmenu.mud-navmenu-secondary .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled) {
	color: var(--mud-palette-secondary);
	background-color: var(--mud-palette-secondary-hover);
}

.mud-navmenu.mud-navmenu-tertiary .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled) {
	color: var(--mud-palette-tertiary);
	background-color: var(--mud-palette-tertiary-hover);
}

.mud-navmenu.mud-navmenu-info .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled) {
	color: var(--mud-palette-info);
	background-color: var(--mud-palette-info-hover);
}

.mud-navmenu.mud-navmenu-success .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled) {
	color: var(--mud-palette-success);
	background-color: var(--mud-palette-success-hover);
}

.mud-navmenu.mud-navmenu-warning .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled) {
	color: var(--mud-palette-warning);
	background-color: var(--mud-palette-warning-hover);
}

.mud-navmenu.mud-navmenu-error .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled) {
	color: var(--mud-palette-error);
	background-color: var(--mud-palette-error-hover);
}

.mud-navmenu.mud-navmenu-dark .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled) {
	color: var(--mud-palette-dark);
	background-color: var(--mud-palette-dark-hover);
}

.mud-navmenu.mud-navmenu-bordered .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled) {
	border-inline-end-style: solid;
	border-inline-end-width: 2px;
}

.mud-navmenu.mud-navmenu-primary .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled) .mud-nav-link-icon {
	color: var(--mud-palette-primary);
}

.mud-navmenu.mud-navmenu-secondary .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled) .mud-nav-link-icon {
	color: var(--mud-palette-secondary);
}

.mud-navmenu.mud-navmenu-tertiary .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled) .mud-nav-link-icon {
	color: var(--mud-palette-tertiary);
}

.mud-navmenu.mud-navmenu-info .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled) .mud-nav-link-icon {
	color: var(--mud-palette-info);
}

.mud-navmenu.mud-navmenu-success .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled) .mud-nav-link-icon {
	color: var(--mud-palette-success);
}

.mud-navmenu.mud-navmenu-warning .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled) .mud-nav-link-icon {
	color: var(--mud-palette-warning);
}

.mud-navmenu.mud-navmenu-error .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled) .mud-nav-link-icon {
	color: var(--mud-palette-error);
}

.mud-navmenu.mud-navmenu-dark .mud-nav-item.active .mud-nav-link:not(.mud-nav-link-disabled) .mud-nav-link-icon {
	color: var(--mud-palette-dark);
}
.center {
	text-align: center;
	margin: auto;
}
@media (min-width: 600px) {
	.mud-toolbar-gutters {
		padding-left: 16px;
		padding-right: 16px;
	}
}
.mud-skeleton {
	background-color: rgba(128,128,128,0.3);
}
.mud-skeleton-wave::after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	position: absolute;
	animation: mud-skeleton-keyframes-wave 1.6s linear .5s infinite;
	transform: translateX(-100%);
	background: linear-gradient(90deg,transparent,rgba(var(--mud-palette-primary-rgb),0.5),transparent);
	opacity: 0.7;
}
.framework-version {
	font-size: 0.8rem;
}
.mud-card-header-avatar svg.mud-icon-root.mud-svg-icon {
	font-size: 68px;
}

p + p.mud-typography {
	margin-top: 0.8em;
}

.bui-section-title {
	position: sticky;
	top: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	z-index: 1;
}
.bui-theme-title {
	color: var(--mud-palette-appbar-text);
	background-color: var(--mud-palette-appbar-background);
}

blockquote {
	padding-left: var(--main-padding-size);
	padding-right: var(--main-padding-size);
	border-left: 10px solid var(--mud-palette-primary);
}
	blockquote:not(:first-child) {
		margin-top: var(--main-padding-size);
	}
	blockquote:not(:last-child) {
		margin-bottom: var(--main-padding-size);
	}
	blockquote > cite {
		display: block;
		text-align: right;
		color: inherit;
		font-weight: 800;
	}
		blockquote > cite:before {
			content: "— ";
			color: var(--mud-palette-primary);
		}
	blockquote.theme-primary {
		border-left-color: var(--mud-palette-primary);
	}

		blockquote.theme-primary > cite:before {
			color: var(--mud-palette-primary);
		}
	blockquote.theme-primary {
		border-left-color: var(--mud-palette-primary);
	}

		blockquote.theme-primary > cite:before {
			color: var(--mud-palette-primary);
		}
	blockquote.theme-secondary {
		border-left-color: var(--mud-palette-secondary);
	}

		blockquote.theme-secondary > cite:before {
			color: var(--mud-palette-secondary);
		}
	blockquote.theme-tertiary {
		border-left-color: var(--mud-palette-tertiary);
	}

		blockquote.theme-tertiary > cite:before {
			color: var(--mud-palette-tertiary);
		}
	blockquote.theme-info {
		border-left-color: var(--mud-palette-info);
	}

		blockquote.theme-info > cite:before {
			color: var(--mud-palette-info);
		}
	blockquote.theme-success {
		border-left-color: var(--mud-palette-success);
	}

		blockquote.theme-success > cite:before {
			color: var(--mud-palette-success);
		}
	blockquote.theme-warning {
		border-left-color: var(--mud-palette-warning);
	}

		blockquote.theme-warning > cite:before {
			color: var(--mud-palette-warning);
		}
	blockquote.theme-primary {
		border-left-color: var(--mud-palette-primary);
	}

		blockquote.theme-primary > cite:before {
			color: var(--mud-palette-primary);
		}
	blockquote.theme-error {
		border-left-color: var(--mud-palette-error);
	}

		blockquote.theme-error > cite:before {
			color: var(--mud-palette-error);
		}

ul.list,
ul:not([class]){
	list-style: disc;
	padding-inline-start: calc(2 * var(--main-padding-size));
}
ul ul.list,
ul ul:not([class]) {
	list-style: circle;
}
ul ul ul.list,
ul ul ul:not([class]) {
	list-style: square;
}
.mud-card-header-avatar:empty,
.mud-card-header-actions:empty {
	display: none;
}
pre[languagetag]:before {
	content: attr(languagetag);
	display: inline-block;
	background-color: var(--mud-palette-primary);
	margin-top: calc(-1 * var(--main-padding-size));
	margin-left: calc(-0.5 * var(--main-padding-size));
	margin-right: 0;
	margin-bottom: var(--main-padding-size);
	padding: calc(0.5 * var(--main-padding-size));
	font-size: 0.7em;
}
pre > code {
	display: block;
	margin-top: calc(-1 * var(--main-padding-size));
	margin-left: 0;
	margin-right: 0;
	padding: var(--main-padding-size);
	background-color: black;
	color: white;
	tab-size: 4;
	white-space: pre-wrap;
}

.token.block-comment, .token.cdata, .token.comment, .token.doctype, .token.prolog {
	color: #999
}

.token.punctuation {
	color: #ccc
}

.token.attr-name, .token.deleted, .token.namespace, .token.tag {
	color: #e2777a
}

.token.function-name {
	color: #6196cc
}

.token.boolean, .token.function, .token.number {
	color: #f08d49
}

.token.class-name, .token.constant, .token.property, .token.symbol {
	color: #f8c555
}

.token.atrule, .token.builtin, .token.important, .token.keyword, .token.selector {
	color: #cc99cd
}

.token.attr-value, .token.char, .token.regex, .token.string, .token.variable {
	color: #7ec699
}

.token.entity, .token.operator, .token.url {
	color: #67cdcc
}

.token.bold, .token.important {
	font-weight: 700
}

.token.italic {
	font-style: italic
}

.token.entity {
	cursor: help
}

.token.inserted {
	color: green
}
.mud-snackbar-content-message {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.formatted-textarea {
	display: block;
	position: relative;
	padding: 0;
}
	.formatted-textarea > pre,
	.formatted-textarea > pre > code,
	.formatted-textarea > pre + textarea {
		width: 100%;
		height: 100%;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		font: inherit;
		text-rendering: auto;
		word-spacing: normal;
		word-break: break-word;
		word-wrap: break-word;
		white-space: pre-wrap;
		letter-spacing: inherit;
		top: 0;
		left: 0;
	}
	.formatted-textarea > pre {
		margin: 0;
	}
		.formatted-textarea > pre > code {
			margin: 0;
			background: transparent;
			color: inherit;
			font: inherit;
		}
		.formatted-textarea > pre[languagetag]:before {
			display: none;
		}
		.formatted-textarea > pre > code .token.italic { font-style: inherit; }
		.formatted-textarea > pre > code .token.bold,
		.formatted-textarea > pre > code .token.important {
			font-weight: inherit;
		}
		.formatted-textarea > pre + textarea {
			position: absolute;
			color: transparent;
			background: transparent;
			caret-color: var(--mud-palette-text-primary);
			padding: var(--main-padding-size);
			resize: none;
		}
			.formatted-textarea > pre + textarea,
			.formatted-textarea > pre + textarea:focus,
			.formatted-textarea > pre + textarea:focus-visible,
			.formatted-textarea > pre + textarea:focus-within {
				border: none;
				outline: none;
			}
.bui-titled-section > .mud-expand-panel > .mud-expand-panel-header,
.bui-titled-section > .mud-expand-panel > * > * > * > .mud-expand-panel-content {
	padding: 0;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-justify {
	text-align: justify;
}
.text-justify-all {
	text-align: justify-all;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}
.float-inline-end {
	float: inline-end;
}
.float-inline-start {
	float: inline-start;
}

.bui-paper {
	width: calc((var(--main-padding-size) * 2) + max-content);
}

.bui-paper,
.mud-paper,
.bui-paper.mud-paper {
	color: inherit;
	background-color: inherit;
}

.clear-after {
	content: " ";
	display: block;
	clear: both;
}

.bui-image {

}
	.bui-image > img,
	.bui-image > svg {
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
		margin: auto;
	}
	.bui-image > img[height=""],
	.bui-image > img:not([height]),
	.bui-image > svg[height=""],
	.bui-image > svg:not([height]) {
		height: 100%;
	}

.bui-side-by-side,
.bui-maxcontentauto,
.bui-automaxcontent {
	display: grid !important;
	grid-gap: var(--main-padding-size);
}
.bui-side-by-side {
	grid-template-columns: 1fr 1fr;
	grid-gap: var(--main-padding-size);
}

	.bui-side-by-side > :only-child {
		grid-column: span 2;
	}

.bui-maxcontentauto {
	grid-template-columns: max-content auto;
}

	.bui-maxcontentauto > *:first-child {
		width: max-content;
	}
.bui-automaxcontent {
	grid-template-columns: auto max-content;
}

	.bui-automaxcontent > *:last-child {
		width: max-content;
	}

@media (max-width: 1200px) {
	.bui-side-by-side,
	.bui-maxcontentauto,
	.bui-automaxcontent {
		grid-template-columns: 1fr;
	}

		.bui-maxcontentauto > *:first-child,
		.bui-maxcontentauto > *:last-child {
			width: 100%;
		}
}
.bui-paper.bui-footer {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 900;
}

	.bui-paper.bui-footer * {
		font-size: 9pt!important;
		vertical-align: middle;
	}
	.bui-paper.bui-footer a {
		font-size: 1.1em!important;
	}
	.bui-paper.bui-footer > span:last-child *:not(a) {
		font-size: 7pt!important;
		vertical-align: text-top;
	}
	.bui-paper.bui-footer:first-child {
		top: 0;
	}

	.bui-paper.bui-footer:last-child {
		top: auto;
		bottom: 0;
	}

.char-count {
	position: absolute;
	z-index: 10;
	top: auto;
	right: 15px;
	bottom: -9px;
	left: auto;
	font-size: 0.75rem;
	background: var(--mud-palette-background);
	padding: 0 4px;
}