@page "/"

<BUIPageDetail Title="Welcome" />

<MudText Typo="Typo.h2">You have reached the Demo and Documentation website for Blazor UI from Stoic Dreams!</MudText>

<MudText Typo="Typo.body1">This website is being developed in conjuction with our new Blazor UI framework.</MudText>

<p>We are very excited about this project and what it means for our development with our other projects and helping to ease the adoption of the Blazor framework.</p>

<p>This is very cool indeed!</p>

<p>More content coming very soon.</p>

