@page "/"

<BUIPageDetail Title="Welcome" />

<h1>Welcome!</h1>
<h2>You have reached the Demo and Documentation website for Blazor UI from Stoic Dreams!</h2>

<p>This website is being developed alongside our new Blazor UI framework.</p>

<p>More content coming very soon.</p>

