@inherits BUICore

@if (LogoText != null)
{
	<div class="mr-2">@LogoText</div>
}
else if (LogoFragment != null)
{
	<div class="mr-2">@LogoFragment</div>
}

@if (ShowTitleDisplay)
{
	<MudText Typo="Typo.h1">
		@GetPageTitleDisplay
	</MudText>
}

<MudSpacer />

<MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Inherit" Title="Open App Settings" OnClick="ToggleNav" />

@code {
	private string AppName => ShowAppName ? AppOptions.AppName : string.Empty;
	private string PageTitle => ShowPageTitle ? GetState<string>(AppStateDataTags.PageTitle, () => string.Empty) : string.Empty;
	private bool ShowAppName => GetState<bool>(AppStateDataTags.TitleBarShowAppName);
	private bool ShowPageTitle => GetState<bool>(AppStateDataTags.TitleBarShowPageTitle);
	private string? LogoText => GetState<string?>(AppStateDataTags.TitleBarLogo);
	private RenderFragment? LogoFragment => GetState<RenderFragment?>(AppStateDataTags.TitleBarLogo);
	private bool ShowTitleDisplay => ShowAppName || ShowPageTitle;

	private string GetPageTitleDisplay
	{
		get
		{
			string appName = AppName;
			string title = PageTitle;
			if (string.IsNullOrWhiteSpace(appName) && string.IsNullOrWhiteSpace(title)) { return string.Empty; }
			if (string.IsNullOrWhiteSpace(appName)) { return title; }
			return $"{appName} - {title}";
		}
	}

	private void ToggleNav()
	{
		AppState.ApplyChanges(() =>
		{
			AppState.SetData(AppStateDataTags.RightDrawerContent, typeof(BUIAppSettings));
			AppState.SetData(AppStateDataTags.TitleBarRightDrawerOpen, true);
		});
	}
}
